html,body
{
height:100%;
}

#wrap
{
min-height: 100%;
}

#main
{
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer
{
position: relative;
margin-top: -150px; /* negative value of footer height */
height: 150px;
clear:both;
padding-top:20px;
color:#fff;
}













h1 {
  font-size: 50px !important; 
  color:#0B479D !important;
}

h1:first-letter{
color:#FF212C !important;
}

.ldrheading p
{
	font-size:175%;
	color:#0B479D;
}

.ldrheading p:first-letter
{ 
font-size:120%;
color:#FF212C;
}

.bigger 
{
font-size:18px;
}

.table-striped tbody tr:nth-child(odd) td {
    background-color: green;
}

.table-striped tbody tr.highlight td {
    background-color: red;
}



/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
