/ldconditional/nbproject/private/
/licensius-core/target/
/licensius-ws/target/
/odrlapi/target/
/licensius-ws/target/
/license-observatory/nbproject/private/
/license-observatory/build/
/license-observatory/dist/
/rdflicense/target/
/jodrlapi/nbproject/private/
/jodrlapi/build/
/jodrlapi/dist/
/jodrlapi/target/
/jodrlapi/clave.txt