{"swagger":"2.0","info":{"title":"Licensius","contact":{"name":"Ontology Engineering Group (OEG-UPM)","url":"http://www.oeg-upm.net"},"description":"Licensing related services.  These services provide additional information on common licenses (e.g. Creative Commons, Open Data Commons, etc.), their compatibility and their meaning.","version":"2.1.1","license":{"name":"cc-by-4.0","url":"http://purl.org/NET/rdflicense/cc-by3.0"}},"host":"www.licensius.com","schemes":["http"],"basePath":"/api","produces":["application/json"],"paths":{"/test":{"get":{"summary":"A test","description":"Nothing more than a test call.","responses":{"200":{"description":"A hello world string to test the service availability"}}}},"/license/list":{"get":{"summary":"Obtains a list of unique license identifiers","description":"Obtains a list of unique identifiers of well-known licenses to be used for general works and data. This identifier can be further queried in order to obtain advanced information.  The license identifiers are dereferenceable and further information can be obtained by simply resolving the URI","tags":["license"],"responses":{"200":{"description":"An array of license identifiers","schema":{"type":"array","items":{"type":"string"}}},"500":{"description":"Server error","schema":{"$ref":"#/definitions/Error"}}}}},"/license/getlicensetext":{"get":{"summary":"Gets the license document in plain text","description":"Obtains the license text in a plain format.","tags":["license"],"parameters":[{"name":"uri","in":"query","required":true,"description":"Identifier of a well-known license. For example, http://purl.org/NET/rdflicense/gpl2.0","type":"string"},{"name":"lan","in":"query","required":false,"description":"Language code to be obtained. ISO 639 1 Examples; en, es, id... . If no parameter is provided, all the documents are given","type":"string"}],"responses":{"200":{"description":"Text of the license"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/license/getlicenseinfo":{"get":{"summary":"Retrieves info about a particular license","description":"Obtains a list of properties related to a certain license.","tags":["license"],"parameters":[{"name":"uri","in":"query","required":true,"description":"Identifier of a well-known license. For example, http://purl.org/NET/rdflicense/gpl2.0","type":"string"}],"responses":{"200":{"description":"A list of properties about the license","schema":{"type":"object","items":{"$ref":"#/definitions/licenseinfo"}}},"404":{"description":"License not found"},"500":{"description":"Server error","schema":{"$ref":"#/definitions/Error"}}}}},"/license/findlicenseinrdf":{"get":{"summary":"Guesses the license in a RDF document pointed by a URI.","description":"Obtains a list guessed licenses in the Linked Data resource. Triples with the property dct:license etc. are scanned.","tags":["license"],"parameters":[{"name":"uri","required":true,"in":"query","description":"URI to the RDF document where the license will be scanned. For example, http://www.geonames.org/ontology/ontology_v3.1.rdf or http://purl.org/goodrelations/v1.owl","type":"string"}],"responses":{"200":{"description":"An array of licenses guesses"},"500":{"description":"Server error","schema":{"$ref":"#/definitions/Error"}}}},"post":{"summary":"Guesses the license in a RDF document.","description":"Obtains a list guessed licenses in the Linked Data resource. Triples with the property dct:license etc. are scanned.","tags":["license"],"parameters":[{"name":"uri","in":"body","required":true,"description":"RDF document where the license will be scanned.","schema":{"type":"string"}}],"responses":{"200":{"description":"An array of licenses guesses","schema":{"type":"array","items":{"$ref":"#/definitions/licenseguess"}}},"500":{"description":"Server error","schema":{"$ref":"#/definitions/Error"}}}}},"/license/findlicenseintxt":{"get":{"summary":"Guesses the license in a text fragment pointed by a URI.","description":"Obtains a list guessed licenses in a text document. Known text fragments are searched.","parameters":[{"name":"txt","in":"query","required":true,"description":"URI to a text document where the license will be scanned. For example the document may contain \"This work is under a cc-by license\". It can also be a URI to a text document.","type":"string"}],"tags":["license"],"responses":{"200":{"description":"An array of licenses guesses","schema":{"type":"array","items":{"$ref":"#/definitions/licenseguess"}}},"500":{"description":"Server error","schema":{"$ref":"#/definitions/Error"}}}},"post":{"summary":"Guesses the license in a text fragment.","description":"Obtains a list guessed licenses in a text document. Known text fragments are searched.","parameters":[{"name":"txt","in":"body","description":"Text where the license will be scanned. For example \"This work is under a cc-by license\"","schema":{"type":"string"}}],"tags":["license"],"responses":{"200":{"description":"An array of licenses guesses","schema":{"type":"array","items":{"$ref":"#/definitions/licenseguess"}}},"500":{"description":"Server error","schema":{"$ref":"#/definitions/Error"}}}}},"/license/isopen":{"get":{"summary":"Determines if a license is \"open\" according to certain criteria.","description":"Determines if a license is \"open\" according to the http://www.opendefinition.com.","tags":["license"],"parameters":[{"name":"uri","in":"query","required":true,"description":"License identifier. For example, http://purl.org/NET/rdflicense/cc-by3.0 or http://purl.org/NET/rdflicense/ukogl-nc2.0","type":"string"}],"responses":{"200":{"description":"true or false","schema":{"type":"string"}},"500":{"description":"Server error","schema":{"$ref":"#/definitions/Error"}}}}},"/license/iscompatible":{"get":{"summary":"Determines if a license is compatible with another license, and returns a possible compatible license.","description":"Compatibility is given according to the license creator (if this info exists) or otherwise calculated","tags":["license"],"parameters":[{"name":"uri1","in":"query","required":true,"description":"License identifier. For example, http://purl.org/NET/rdflicense/cc-by-nc3.0","type":"string"},{"name":"uri2","in":"query","required":true,"description":"License identifier. For example, http://purl.org/NET/rdflicense/cc-by-nd3.0","type":"string"}],"responses":{"200":{"description":"true or false","schema":{"type":"string"}},"500":{"description":"Server error","schema":{"$ref":"#/definitions/Error"}}}}},"/odrl/validate":{"get":{"summary":"Validates a ODRL document. NOT YET IMPLEMENTED.","description":"Determines whether an RDF document conforms or not to the ODRL specification","parameters":[{"name":"odrl","required":true,"in":"query","description":"ODRL document to be parsed","type":"string"}],"tags":["odrl"],"responses":{"200":{"description":"True or false"}}}},"/odrl/transcode":{"get":{"summary":"Transcodes an ODRL document across the different syntaxes. NOT YET IMPLEMENTED.","description":"Transcodes an ODRL document across the different syntaxes RDF, XML, JSON","parameters":[{"name":"odrl","in":"query","description":"ODRL document to be transcoded","type":"string"},{"name":"output","in":"query","description":"Desired format of the output","type":"string"}],"tags":["odrl"],"responses":{"200":{"description":"True or false"}}}},"/odrl/authorize":{"get":{"summary":"Authorizes an ODRL request. NOT YET IMPLEMENTED.","description":"Determines","parameters":[{"name":"odrl","in":"query","description":"ODRL document to be transcoded","type":"string"},{"name":"output","in":"query","description":"Desired format of the output","type":"string"}],"tags":["odrl"],"responses":{"200":{"description":"True or false"}}}}},"definitions":{"licenseinfo":{"type":"object","properties":{"uri":{"type":"string","description":"Identifier of the license"},"title":{"type":"string","description":"Common name of a License"},"source":{"type":"string","description":"Source of the original text (URI if any)."},"version":{"type":"string","description":"Version of the License"},"legalcode":{"type":"string","description":"Pointer to the legal code (URI)"}}},"licenseguess":{"type":"object","properties":{"license":{"type":"string","description":"Identifier of the license"},"evidence":{"type":"string","description":"Evidence of the result"},"confidence":{"type":"string","description":"Confidence value in the range 0-100"}}},"Error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}}}}}