<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>licensegetlicenseinfo</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseGetlicenseinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>licensefindlicenseinrdf</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseFindlicenseinrdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>licenselist</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>oeg.licensius.service.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getlicense</servlet-name>
        <servlet-class>oeg.licensius.service.GetLicense</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>licensefinder</servlet-name>
        <servlet-class>main.GetLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLicense</servlet-name>
        <servlet-class>main.GetLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLicenseRaw</servlet-name>
        <servlet-class>main.GetLicenseRawServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLicenseTitle</servlet-name>
        <servlet-class>main.GetLicenseTitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>licensewebfinder</servlet-name>
        <servlet-class>main.LicenseFinderWebServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LicenseComposerServlet</servlet-name>
        <servlet-class>main.LicenseComposerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LicenseGuess</servlet-name>
        <servlet-class>main.LicenseGuess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuessLicenseServlet</servlet-name>
        <servlet-class>main.GuessLicenseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/api/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licensefinder</servlet-name>
        <url-pattern>/licensefinder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licensewebfinder</servlet-name>
        <url-pattern>/licensewebfinder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLicenseTitle</servlet-name>
        <url-pattern>/getLicenseTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLicenseRaw</servlet-name>
        <url-pattern>/getLicenseRaw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLicense</servlet-name>
        <url-pattern>/getLicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LicenseComposerServlet</servlet-name>
        <url-pattern>/licensecomposer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LicenseGuess</servlet-name>
        <url-pattern>/licenseguess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuessLicenseServlet</servlet-name>
        <url-pattern>/guessLicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licenselist</servlet-name>
        <url-pattern>/api/license/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licensegetlicenseinfo</servlet-name>
        <url-pattern>/api/license/getlicenseinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licensefindlicenseinrdf</servlet-name>
        <url-pattern>/api/license/findlicenseinrdf</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>licensefinder.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
</web-app>
