<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Conditional Linked Data</display-name>
    <servlet>
        <servlet-name>PortalServlet</servlet-name>
        <servlet-class>ldc.servlets.PortalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>ldc.servlets.DataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiServlet</servlet-name>
        <servlet-class>ldc.servlets.ApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>ldc.servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>ldc.servlets.ManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PortalServlet</servlet-name>
        <url-pattern>/portal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/data/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/manage/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
