<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Licensius 2.06</display-name>
    
    <servlet>
        <servlet-name>licensegetlicensetext</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseGetlicensetext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>licenseiscompatible</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseIscompatible</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>licenseisopen</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseIsopen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>licensegetlicenseinfo</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseGetlicenseinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>licensefindlicenseinrdf</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseFindlicenseinrdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>licensefindlicenseintxt</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseFindlicenseintxt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>licenselist</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseList</servlet-class>
    </servlet>
<!-- INIT deprecated -->
    <servlet>
        <servlet-name>licensegetlicense</servlet-name>
        <servlet-class>oeg.licensius.service.LicenseGetLicense</servlet-class>
    </servlet>
<!-- END deprecated -->
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>oeg.licensius.service.Test</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>licensegetlicensetext</servlet-name>
        <url-pattern>/api/license/getlicensetext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licenseiscompatible</servlet-name>
        <url-pattern>/api/license/iscompatible</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licenseisopen</servlet-name>
        <url-pattern>/api/license/isopen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licenselist</servlet-name>
        <url-pattern>/api/license/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licensegetlicenseinfo</servlet-name>
        <url-pattern>/api/license/getlicenseinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licensefindlicenseinrdf</servlet-name>
        <url-pattern>/api/license/findlicenseinrdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licensefindlicenseintxt</servlet-name>
        <url-pattern>/api/license/findlicenseintxt</url-pattern>
    </servlet-mapping>    
<!-- INIT deprecated -->
    <servlet-mapping>
        <servlet-name>licensegetlicense</servlet-name>
        <url-pattern>/api/license/getLicense</url-pattern>
    </servlet-mapping>
<!-- END deprecated -->
    
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    
    
<!--    <welcome-file-list>
        <welcome-file>http://www.licensius.com</welcome-file>
    </welcome-file-list> -->
<!--    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping> -->
</web-app>
