html *
{
    font-family: "Verdana", Geneva, sans-serif; 
}
body
{
    margin:150px;
    color: #3b3b3b;
}

h1 {
    font-size: 25px;
    line-height: 1;
    color: #cc0000;  
}

h2 { 
    font-size: 20px;
    line-height: 1;
    color: #cc0000;  
}

table{
    border:"0";
    width:"80%";
}

li{
    background: url(http://www.cosasbuenas.es/img/estrellaroja.gif) no-repeat 0 3px;
    list-style: none;
    line-height: 24px;
    font-weight: normal;
    color: #333;
    margin: 0 0 5px 0;
    padding: 0 0 0 18px;
}
.footnote{
    text-align:center;
    font-size:12px;
}
.supertitulo{
    text-align:center;
    font-size: 32px;
    color: #cc0000; 
}
.subtitulo{
    text-align:center;
    font-style:italic;
    color: #cc0000; 
    font-size: 20px;
    margin: 0px 0px 0px -50px;

}
.category{
    text-align:center;
    color: #3b3b3b;
    font-weight:bold;
    margin: 0px 0px 0px 0px;
}

.code{
    border: 2px solid #003B62;
    background-color: #C6DFF0;
    padding: 7px;
    margin: 10px;
    color:#555555; 
    font-family: monospace;
}
div.wrap {
    width: 600px;
    border: 1px solid #f00;
    height: 300px;
    position: relative;
}

.wrap img {
    border: 1px solid blue;
    position: absolute;
    bottom: 0;
}

