#VICTOR: LO SIguiente lo he puesto para redirigir del www al normal

Header set Access-Control-Allow-Origin "*"


deny from all

RewriteEngine On
RewriteRule prueba\.html http://www.google.es [R]

#RewriteEngine On
#RewriteBase /
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

