.collapseb {
  background-color: transparent;
  border-color: transparent;
  text-align: right;
    float: right;
}

.remove {
  background-color: transparent;
  border-color: transparent;
  color: #D9534F;
}

.remove:hover {
  color: #C9302C;
}

#license{
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 400px;
    overflow: auto;
    padding: 2px;
    resize: both;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }